@import "../../styles";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .content {
    @include main-content-grid();
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-top: 1px solid var(--color-alt-gray);
  }

  #site-copyrights {
    flex-flow: wrap;
    justify-content: space-between;
    font-size: 14px;
  }
}
