<div id="fast-info-list" class="content">
  <client-fast-info-item title="Delivery" icon="">
    Self-delivery from the "Comfy" store, delivery to the address or at the "Nova Poshta" and "Meest" branches
  </client-fast-info-item>

  <client-fast-info-item title="Warranty" icon="">
    The equipment is certified with an official guarantee from the manufacturer.
  </client-fast-info-item>

  <client-fast-info-item title="Payment" icon="">
    You can pay for your purchase using a ready-made card, or a non-ready payment card.
  </client-fast-info-item>

  <client-fast-info-item title="Return" icon="">
    Product returns must be returned within 14 days after purchase, subject to applicable law.
  </client-fast-info-item>
</div>

<div id="site-map" class="content">
  TODO:
</div>

<div id="site-copyrights" class="content">
  <span>© The site is implemented to test knowledge. It has no commercial purpose.</span>
  <span>Test task at 28/10/2023</span>
</div>
