<div class="product-gallery">
  <div class="photos-container">
    <img class="" src="https://skin.comfy.ua/media/catalog/product/i/p/iphone-14-pro-storage-select-202209-6-7inch-deeppurple_1.jpg" alt="Product photo">
  </div>
<!--  <div class="gallery-controller>...</div>-->
</div>

<a class="product-name">
  <div class="full-name-drop-dawn">
    Смартфон Samsung Galaxy A24 6/128Gb Black (SM-A245FZKVSEK)
  </div>
</a>

<client-product-feedback></client-product-feedback>


<!--<div>-->
<!--  ... payment bonuses-->
<!--</div>-->

<div class="fast-delivery">
  Fast delivery at <span style="color: green">0.05$</span>
</div>

<client-price-object></client-price-object>

<!--<div>-->
<!--  +500 bonuses-->
<!--</div>-->

<div class="product-attributes">
  <div class="row">
    <span class="attribute-name">Attribute:</span>
    <span class="attribute-value">Value</span>
  </div>
  <div class="row">
    <span class="attribute-name">Attribute2:</span>
    <span class="attribute-value">Value2</span>
  </div>
  <div class="row">
    <span class="attribute-name">Attribute3:</span>
    <span class="attribute-value">5</span>
  </div>
</div>
