<div class="product-gallery">
  <div class="photos-container">
    <img class="" [src]="product?.img" alt="Product photo">
  </div>
<!--  <div class="gallery-controller>...</div>-->
</div>

<a class="product-name">
  <div class="full-name-drop-dawn">
    {{ product?.name }}
  </div>
</a>

<client-product-feedback></client-product-feedback>


<!--<div>-->
<!--  ... payment bonuses-->
<!--</div>-->

<div class="fast-delivery">
  Fast delivery at <span style="color: green">0.05$</span>
</div>

<client-price-object [price]="product?.price"></client-price-object>

<!--<div>-->
<!--  +500 bonuses-->
<!--</div>-->

<div class="product-attributes">
  <div class="row">
    <span class="attribute-name">Attribute1:</span>
    <span class="attribute-value">Value</span>
  </div>
  <div class="row">
    <span class="attribute-name">Attribute2:</span>
    <span class="attribute-value">22mpx+5</span>
  </div>
  <div class="row">
    <span class="attribute-name">Attribute3:</span>
    <span class="attribute-value">5</span>
  </div>
</div>
